.post {
}
.challengePost {
  max-width: 550px;

  padding: 15px 0;
  margin: 0 auto;
}

.post_header {
  display: grid;
  grid-template-columns: 10% auto 25%;
}

.post__info {
  line-height: 1.1;
}

.post__avtar {
  padding-right: 10px;
}
.post__avtar--img {
  max-width: 40px;
  border-radius: 50%;
}
.post-username {
  font-size: 0.9375rem;
  margin: 0 !important;
  font-weight: bolder;
}
.post-date {
  font-size: 12px;
}

/*post__remain-time*/
.post__remain-time {
  display: flex;

  justify-content: center;
}

.post__body {
  display: grid;
  grid-template-columns: 10% auto;
}

.post__title {
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: bolder;
}

.post__tags-holder {
  display: flex;
  flex-wrap: wrap;
}
.post__tag {
  padding-right: 15px;
  font-size: 15px;
}
/*footer*/
.post__footer {
  display: grid;
  grid-template-columns: 10% auto;
}

.post__footer-holder {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.post__likesAndComment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}
.Post__likesAndComment--left,
.Post__likesAndComment--right {
  width: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;

  align-items: left;
}

.post__followUp-btn {
  padding: 5px 15px;
  margin-right: 20px;
  background-color: transparent;
  border: 1px solid black;
}
.dum-space {
  display: block;
}

/*footer*/

@media only screen and (max-width: 510px) {
  .post__likesAndComment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
  }
  .post__followUp-btn {
    padding: 5px 15px;
    margin-right: 0;
    background-color: transparent;
    border: 1px solid black;
  }

  .post_header {
    padding-bottom: 10px;
  }

  .post__avtar {
    padding-right: 7px;
  }

  .post__avtar--img {
    max-width: 40px;
    border-radius: 50%;
  }
  .dum-space {
    display: none;
  }
  .post__footer {
    display: grid;

    grid-template-columns: auto;
  }
  .post__body {
    display: grid;
    grid-template-columns: auto;
  }

  .post_header {
    display: grid;
    grid-template-columns: 13% auto 35%;
  }
  .post-username {
    font-size: 1.2rem;
  }
  .post__title {
    font-size: 22px;
  }
}

.post__days_left {
  font-size: 15px;
  padding-left: 5px;
}
@media only screen and (max-width: 374px) {
  .navMenu__serachInput {
    padding-top: 0;
    padding-bottom: 0;
  }
  .post_header {
    display: grid;
    grid-template-columns: 14% auto 35%;
  }
  .post__avtar {
    padding-right: 10px;
  }
  .post-username {
    font-size: 15px;
    margin-bottom: 0;
  }
  .post__remain-time {
    font-size: 14px;
  }

  .post__avtar--img {
    max-width: 35px;
  }
  .post__tag {
    padding-right: 10px;
  }
  .post__title {
    font-size: 18px;
    line-height: 1.5;
  }
}
